header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #471769;
    color: rgb(151, 60, 111);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    color: rgb(238, 235, 235);
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  